.nnplus__form-group-checkbox{
  padding: 8px 0;
}
.nnplus__checkbox{
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 10px 0;
  padding: 0 0 0 45px;
  font-size: 17px;
}
.nnplus__checkbox-input{
  position: absolute;
  z-index: 10;
  top:0;
  left:0;
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-appearance: none;
  cursor: pointer;
  @include opacity(0);
}
.nnplus__checkbox-label:after{
  content: "";
  position: absolute;
  z-index: 3;
  top: 1px;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #008d80;
  background: #fff;
}
.nnplus__checkbox-label:before{
  content: "";
  position: absolute;
  z-index: 4;
  top: 6px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #008d80;
  @include opacity(0);
}
.nnplus__checkbox-input:checked + .nnplus__checkbox-label:before{
  @include opacity(1);
}

