.nnplus-anketa{
  width: 980px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.55);
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.nnplus-anketa .w500{  width:500px;}
.nnplus-anketa .w320{  width:320px;}
.nnplus-anketa .w210{  width:210px;}
.nnplus-anketa .w170{  width:170px;}
.nnplus-anketa .text-center{  text-align: center;}
.nav-tab--nnplus {    padding: 45px 110px 20px 110px;}

.nav-tab--nnplus .item {  position: relative;    display: none;}

.nav-tab--nnplus .item.first {    display: block}
.nav-tab--nnplus .controls{
  margin:10px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  color:#0170bc;
}
.nav-tab--nnplus .controls .next{
  text-align: right;
}
.nav-tab--nnplus .controls div {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  cursor: pointer
}
.nav-tab--nnplus .controls div:hover{
  color:#008d80;
}

.nav-tab--nnplus .pagination {
  padding: 0;
  list-style: none;
  text-align: center
}

.nav-tab--nnplus .pagination li {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  cursor: pointer
}
.nav-tab--nnplus .slide-title{
  margin: 15px 0;
  font-size: 36px;
  line-height: 40px;
  color:#008d80;
  font-weight: normal;
}
.nav-tab--nnplus .slide-text{
  margin: 5px 0;
  color:#000;
  font-size: 17px;
  line-height: 20px;
}
.nnplus__form510{
  width: 510px;
}
.nnplus__form-group-title{
  font-size: 21px;
  line-height: 24px;
  font-weight: normal;
  color: #4d4d4d;
}
.nnplus__form-group-title--sm{
  font-size: 17px;
  font-weight: normal;
  color: #4d4d4d;
}
.nnplus__form-input{
  width: 320px;
  height: 35px;
  font-size: 17px;
  line-height: 35px;
  border: 1px solid #808080;
  border-radius: 3px;
  outline: 0;
  padding: 0 10px;
  color:#808080;
}
.nnplus__form-input--sm{
  width: 45px;
  text-align: center;
}
.nnplus__form-input--md{
  width: 65px;
  text-align: center;
}
.nnplus__form-group{
  padding: 10px 0;
}
.nnplus__form-group--inline{
  display: inline-block;
}
.nnplus__form-group--green{
  margin: 0 -25px;
  padding: 10px 25px;
  background: rgba(0,169,157,.1);
}
.nnplus__form-group--white{
  margin: 0 -25px;
  padding:10px 25px;
}
.nnplus-btn--submit{
  display: block;
  margin: 20px auto;
  padding: 5px 0;
  width: 400px;
  color: #fff;
  background: #008d80;
  border: 0;
  outline: 0;
  border-radius: 4px;
}
.nnplus-line{
  background: #000;
  height: 1px;
  margin: 50px -110px 0 -110px;
}
.nnplus__form-group-textarea{
  width: 100%;
  max-width: 100%;
  height: 100px;
  outline: 0;
  padding: 5px 10px;
}
.hidden-fields{
  display: none;
}
.nnplus-select{
  width: 170px;
}