.nnplus-anketa{
  width: 980px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.55);
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.nnplus-anketa .bottom-margin {margin-bottom: 50px;}
.nnplus-anketa .w500{  width:500px;}
.nnplus-anketa .w320{  width:320px;}
.nnplus-anketa .w210{  width:210px;}
.nnplus-anketa .w230{  width:230px;}
.nnplus-anketa .w260{  width:260px;}
.nnplus-anketa .w170{  width:170px;}
.nnplus-anketa .font17{  font-size: 17px;}
.nnplus-anketa .text-center{  text-align: center;}
.nav-tab--nnplus {    padding: 45px 110px 0 110px;}

.nav-tab--nnplus .item {  position: relative;    display: none;}

.nav-tab--nnplus .item.first {    display: block}
.nav-tab--nnplus .controls{
  margin:10px -55px 0 -55px;
  font-size: 20px;
  line-height: 24px;
  color:#0170bc;
}

.nav-tab--nnplus .controls .prev:after,
.nav-tab--nnplus .controls .next:after{
    content:'';
    position:absolute;
    top: 1px;
    display: inline-block;
    width:10px;
    height:18px;
    background: url('../img/arrows.svg') no-repeat;
    background-size: 30px 40px;
}

.nav-tab--nnplus .controls .next{
  padding-right:15px;
  text-align: right;
  &:after{
    right:0;
    background-position: -19px 1px;
  }
  &:hover:after{
    background-position: -19px -20px;
  }
}
.nav-tab--nnplus .controls .prev{
  padding-left:15px;
  &:after{
    left:0;
    background-position: -2px 1px;
  }
  &:hover:after{
    background-position: -2px -20px;
  }
}

.nav-tab--nnplus .controls div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}



.nav-tab--nnplus .controls div:hover{
  color:#008d80;
}

.nav-tab--nnplus .pagination {
  position:relative;
  top:-15px;
  width: 300px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center
}

.nav-tab--nnplus .pagination li {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  background: #fff;
  cursor: pointer;
  &.current-li,
  &.current-li.active-li{
    background: #008d80;
    border-color: #008d80;
  }
  &.active-li{
    background: #fff;
    border-color: #008d80;
  }
}
.nav-tab--nnplus .slide-title{
  margin: 15px 0;
  font-size: 36px;
  line-height: 40px;
  color:#008d80;
  font-weight: normal;
}
.nav-tab--nnplus .slide-text{
  margin: 5px 0;
  color:#000;
  font-size: 17px;
  line-height: 20px;
}
.nnplus__form510{
  margin: 60px 0 0 -25px;
  width: 540px;
  .nnplus__form-group{
    padding-left:20px;
    padding-right:20px;
  }
}
.nnplus__form-group-title{
  position:relative;
  top:6px;
  font-size: 21px;
  line-height: 24px;
  font-weight: normal;
  color: #4d4d4d;
}
.nnplus__form-group-title--double{
  top: 1px;
}

.hidden-fields .nnplus__form-group-title{
  top:0;
}
.hidden-fields .nnplus__form-group-title.pull-left{
  top:6px;
}
.nnplus__form-group-title--sm{
  font-size: 17px;
  font-weight: normal;
  color: #4d4d4d;
}
.nnplus__form-input{
  width: 320px;
  height: 35px;
  font-size: 17px;
  line-height: 35px;
  border: 1px solid #808080;
  border-radius: 3px;
  outline: 0;
  padding: 0 10px;
  color:#808080;
  &:focus{
    border-color: #008d80;
  }
}
.nnplus__form-input--sm{
  width: 45px;
  text-align: center;
  padding: 0 5px;
}
.nnplus__form-input--md{
  width: 65px;
  text-align: center;
}
.nnplus__form-group,
.nnplus__form-group--inner{
  margin: 3px 0;
  padding: 10px 0;
}
.nnplus__form-group--inline{
  display: inline-block;
}
.nnplus__form-group--green{
  margin: 3px -25px;
  padding: 10px 25px;
  background: rgba(0,169,157,.1);
}
.nnplus__form-group--white{
  margin: 3px -25px;
  padding:10px 25px;
}
.nnplus-btn--submit{
  display: block;
  margin: 50px auto;
  padding: 5px 0;
  width: 630px;
  color: #fff;
  background: #008d80;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 21px;
  line-height:45px;
  font-weight:bold;
}
.nnplus-line{
  background: #808080;
  height: 1px;
  margin: 50px -110px 0 -110px;
}
.nnplus__form-group-textarea{
  width: 100%;
  max-width: 100%;
  height: 100px;
  outline: 0;
  padding: 5px 10px;
  font-size: 17px;
}
.hidden-fields{
  display: none;
}
#hidden-fields--otherIll{
  display: none;
}
.nnplus-select{
  width: 230px;
}
.nnplus__invalid{
  border: 1px solid red;
  border-radius:3px;
}

.nnplus-anketa .bottom-margin {margin-bottom: 60px;}
#hidden-fields--screening .nnplus__form-group-title{margin:30px 0;display:block;}

.nnplus-anketa .error-message{
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  font-size:21px;
  line-height: 55px;
  margin: 10px -25px 10px -25px;
  padding: 0 25px;
}